<div class="container">
  <div class="row">
    <!--サイドバー-->
    <div class="col-4">
      <%= render 'books/list', book: @book %>
    </div>
    <!--ユーザー一覧-->
    <div class="col-8">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </thead>
        <% @users.each do |users|%>
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image%>
            </td>
            <td>
              <%= users.name %>
            </td>
            <td>
              <%= link_to "Show", user_path(users.id) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>